{% extends "layout1.html" %}
{% block body %}
  <div id="home" class="tickets">
    <h3>{{ this.tickets_title }}</h3>
    <p>{{ this.tickets }}</p>
  </div>
  <div class="cfp">
    <h3>{{ this.talks_title }}</h3>
    <p>{{ this.talks }}</p>
  </div>
  <div class="workshops">
    <h3>{{ this.workshops_title }}</h3>
    <p>{{ this.workshops }}</p>
  </div>
  <div class="pycon">
    <h3>{{ this.pycon_title }}</h3>
    <p>{{ this.pycon }}</p>
  </div>
  <div class="hamakor">
    <h3>{{ this.opensource_title }}</h3>
    <p>{{ this.opensource }}</p>
  </div>
  <div class="forwhom">
    <h3>{{ this.for_who_title }}</h3>
    <p>{{ this.for_who }}</p>
  </div>
  <div id="location" class="location anchor">
    <h3>{{ this.nav_loc }}</h3>
    {{ this.nav_map }}
    <p>{{this.more_info }}</p>
  <div id="sponsors" class="sponsors anchor">
    <h3 class="separator">Sponsors</h3>
    <div class="sponsors-list">
    {{ this.sponsors }}
    </div>
  </div>
  <div id="faq" class="faq anchor">
      <h3 class="separator">{{ this.faq_title }}</h3>
          {{ this.faq }}
  </div>
  </div>
  <div id="social" class="social anchor">
      <h3 class="separator">Social Media</h3>
  </div>
      <div class="contacts">
      <h3>Stay in touch</h3>
      <p>
        In order to stay updated, please join our
         <a href="https://hamakor.org.il/mailman/listinfo/pycon-il-announce">mailing list</a>.
      </p>
      <p>
        Follow us on <a href="https://twitter.com/pyconil">Twitter</a>, <a href="https://www.facebook.com/pyconisrael/">Facebook</a>,
        <a href="https://www.linkedin.com/company/pycon-israel">LinkedIn</a> and <a href="https://www.youtube.com/channel/UC-SbPEAZ4Ik2cowdR_Wyfag">YouTube</a>.
      </p>
      <p>
	If you have any questions, contact us directly at <a href="mailto:info@pycon.org.il">info@pycon.org.il</a>.
      </p>
      <p>
        Don't forget to tag us and use <strong>#pyconil</strong> in your posts!
      </p>
    </div>
      <div class="twitter">
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="600"
         href="https://twitter.com/pyconil">Tweets</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
      <div class="facebook">
      <h3>Facebook</h3>
      <p>
        <div class="fb-page fb_iframe_widget" data-adapt-container-width="true" data-height="600" data-hide-cover="false" data-href="https://www.facebook.com/pyconisrael" data-show-facepile="true" data-small-header="false" data-tabs="timeline"
          fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=470&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpyconisrael&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500"
          fb-xfbml-state="rendered"><span style="vertical-align: bottom; width: 470px; height: 600px;"><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="600px" name="f2c46dda53cfca2" scrolling="no" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F1FegrZjPbq3.js%3Fversion%3D42%23cb%3Df20d5fb177e4858%26domain%3Dil.pycon.org%26origin%3Dhttp%253A%252F%252Fil.pycon.org%252Ff345263e98fee3c%26relation%3Dparent.parent&amp;container_width=470&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpyconisrael&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500"
              style="border: medium none; visibility: visible; height: 600px;" title="fb:page Facebook Social Plugin" id="f2c46dda53cfca2"></iframe></span></div>
      </p>
    </div>

  </div>
{% endblock %}
